[tool.poetry]
name = "{{service_name}}"
version = "{{service_version}}"
description = "{{short_description}}"
authors = ["{{service_author}}"]
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = "^{{python_version}}"
fastapi = "^0.111.1"
pydantic-settings = "^2.4.0"


[tool.poetry.group.dev.dependencies]
pytest = "^8.3.2"
ruff = "^0.5.5"

[build-system]
requires = ["poetry-core>=1.8.3"]
build-backend = "poetry.core.masonry.api"
